<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ChatBot Test by Chris</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
<df-messenger
  intent="WELCOME"
  chat-title="Weatherbot"
  agent-id="ce0e6bf1-7c45-4fe2-970f-44eb0de31db4"
  language-code="ko"
></df-messenger>
    
    <style>
      df-messenger {
       --df-messenger-bot-message: #D6F7FC;
       --df-messenger-chat-background-color: #EFF6F6;
       --df-messenger-input-box-color: #EFF1F1;
       --df-messenger-font-color: black;
       --df-messenger-user-message: #FBF7B9;
      }
    </style>
  </head>    
  <body>



  </body>
</html>
